*.elc
*.orig
.dir-locals?.el
/*.tar
*~
\#*\#
ChangeLog
core
/emacs

# Generated during deployment
/.pkg-descs.mk
/doc/
/packages/
/other-packages
/archive/
/archive-devel/
GNUmakefile
/manifest.scm
/admin

# Testing file
*.log
*.buildlog

# generated html
html/readme.html
